---

const res = await fetch("http://astro-headless.local/wp-json/wp/v2/posts?acf_format=standard&_fields=author,id,title,link,acf");
const posts = await res.json();

---
<section class="js-cards-container overflow-hidden h-full -mt-[4.5rem] flex flex-col py-6 overflow-hidden">
        { posts.map((post) => (
        <div class="js-card relative flex flex-col w-full h-dvh">
            <!-- <img class="absolute h-full w-full object-cover" src={post._embedded['wp:featuredmedia']['0'].media_details.sizes.full.source_url} /> -->
            <video class="absolute h-full w-full object-cover" autoplay muted loop>
                <source src={post.acf.video.url} type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="absolute h-full w-full bg-black opacity-30"></div>
               <div class="flex flex-col justify-between h-full z-20 px-8 py-20 text-center">
                   <div>
                       <h2 class="text-white text-5xl font-semibold rounded-lg w-fit mx-auto my-6" set:html={post.title.rendered} />
                       <h3 class="text-white underline under underline-offset-4 font-medium text-lg rounded-lg w-fit mx-auto">Prix : 49 999.99 $</h3>
                   </div>
                   <div class="flex justify-center gap-8">
                      <a href={`/post/${post.slug}/`} class="inline-block w-fit py-1.5 text-sm bg-white font-medium transition border rounded-lg text-body-color hover:border-primary ‡hover:bg-primary border-gray-3 px-7 hover:text-green-800 dark:border-dark-3 dark:text-dark-6">
                         Configuration personnalisée
                      </a>
                      <a href={`/post/${post.slug}/`} class="inline-block w-fit py-1.5 text-sm bg-gray-600 text-white font-medium transition rounded-lg px-7 ">
                         Essais
                      </a>
                   </div>
               </div>
        </div>
        ) ) }
</section>